Assignment-3-Web services/all-services/Tryit_Electives/App_WebReferences/bEnergy/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bindingEnergy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="A" type="xs:int" />
        <xs:element minOccurs="0" name="Z" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bindingEnergyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bindingEnergyResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>